*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #303030;
}
.smile{
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-left: 30px;
}
.logo{
    font-size: xx-large;
    text-transform: uppercase;
    position: relative;
    top: -8px;
}
.menu{
    color: #fff;
    display: flex;
    justify-content: space-around;
    margin-left: 300px;
    margin-right: 500px;
    margin-top: -30px;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    
}
.hover:hover{
    color: black;
    text-decoration: underline;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 1200px;
    margin-top: -15px;
    margin-right: 10px;
}
.introdection{
    margin-top: 100px;
    margin-left: 20px;
}
#im{
    text-transform: capitalize;
    font-size:  80px;
}
#qadir{
    text-transform: capitalize;
    font-size: 80px;
    border: 5px solid orange;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    width:fit-content;
}
#para1{
    text-transform: capitalize;
    font-size: 25px;
}
.image{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.445);
    width: 500px;
    height: 500px;
    border-radius: 500px;
    margin-top: -380px;
    margin-left: 450px;
    z-index: 10;
}