*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #303030;
}
.smile{
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-left: 30px;
}
.logo{
    font-size: xx-large;
    text-transform: uppercase;
    position: relative;
    top: -8px;
}
.menu{
    color: #fff;
    display: flex;
    justify-content: space-around;
    margin-left: 300px;
    margin-right: 500px;
    margin-top: -30px;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    
}
.hover:hover{
    color: black;
    text-decoration: underline;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 1200px;
    margin-top: -15px;
    margin-right: 10px;
}
.introdection{
    margin-top: 100px;
    margin-left: 20px;
}
#im{
    text-transform: capitalize;
    font-size:  80px;
}
#qadir{
    text-transform: capitalize;
    font-size: 80px;
    border: 5px solid orange;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    width:fit-content;
}
#para1{
    text-transform: capitalize;
    font-size: 25px;
}
.image{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.445);
    width: 500px;
    height: 500px;
    border-radius: 500px;
    margin-top: -380px;
    margin-left: 450px;
    z-index: 10;
}
.services{
    position: absolute;
    right: 250px;
    top: 200px;
}
#ser{
    font-size: 25px;
}
#para2{
    font-size: 20px;
}
#show{
    color: orange ;
}
.bi1{
    color: orange;
  
    
}
.icon{
    display: flex;
    justify-content: space-between;
}

.box{
     background-color: rgba(0, 0, 0, 0.486);
    width: 900px;
    height: 90px;
    color: #fff;
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    margin-left: 240px;
    padding-bottom: 45px;
    padding-right: 25px; 
    flex-direction: row;
}
.box2{
    background-color: rgba(0, 0, 0, 0.342);
    height:50px;
    width: 100px;
    margin-top: 10px;
    margin-left: 30px;
    padding-top: 45px;
    padding-left: 50px;
     
}
.bx{
    height: 80px;
    width: 150px;
     position: relative;
    right: 51px;
    bottom: 20px;
    top: -40px;
    
    
    
}
div.endbody{
    background-color: #202020;
}
.img01{
    width: 100px;
    height: 100px;
    margin-left: 800px;
    margin-top: 5px;
    
    

}
.img02{
    margin-left: 920px;
    position: relative;
    top: 80px;
}
.line{
    width: 400px;
    margin-left: 800px;
    
}
.bi001{
    margin-left: 1130px;
    position: relative;
    top: 110px;
    color: orange;
}
.top{
    position: absolute;
    top:  900px;
    margin-left: 60px;


    
}
.center{
    margin-left: 130px;
    position: relative;
    top: -129px;
    
}
.color{
    color: orange;
}
.lastbox01{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.boxes1{
    background-color: rgba(0, 0, 0, 0.267);
    width: 300px;
    height: 200px;
    padding-top: 10PX;
    padding-left:50PX;
}
.boxes2{
    background-color: rgba(0, 0, 0, 0.267);
    width: 300px;
    height: 200px;
    padding-top: 10PX;
    padding-left:50PX;

}
.boxes3{
    background-color: rgba(0, 0, 0, 0.267);

    width: 300px;
    height: 200px;
    padding-top: 10PX;
    padding-left:50PX;
}
#UX{
    width: 30px;
    height: 30px;
    
}

